*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: white;
  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --text-color: #FFFFFF;

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: 'Roboto', sans-serif;

  display: grid;
  min-height: 100vh;
}

main {
  justify-self: center;          
  align-self: end;
  display: flex;
  gap: 19.2rem;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

button img {
  width: clamp(3.2rem, 2rem +12vw, 6.4rem);
}

.hide {
  display: none;
}

.timer {
  margin-top: 6rem;
  color: #323238;
  font-size: 8.8rem;

  display: flex;
  margin-bottom: 1.6rem;
}

.functions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vh, 10.8rem);
}

.environment {
  width: 30.8rem;
  height: 33.6rem;
}

.environment button {
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2rem;
  background-color: #E1E1E6;
  margin: 6px;
}

.environment button:hover {
  background-color: #02799D;
}

footer {
  justify-self: end;
  align-self: end;
  padding:0 4rem 3.2rem 0;
}